
.ipynb_checkpoints/ColorizeTraining-checkpoint.ipynb
.ipynb_checkpoints/ColorizeVisualization-checkpoint.ipynb
.ipynb_checkpoints/DeFadeTraining-checkpoint.ipynb
.ipynb_checkpoints/DeFadeVisualization-checkpoint.ipynb
.ipynb_checkpoints/FinalVisualization-checkpoint.ipynb
data
fasterai/.ipynb_checkpoints/images-checkpoint.py
fasterai/.ipynb_checkpoints/loss-checkpoint.py
fasterai/.ipynb_checkpoints/transforms-checkpoint.py
fasterai/.ipynb_checkpoints/visualize-checkpoint.py
fasterai/__pycache__/wgan.cpython-36.pyc
fasterai/__pycache__/visualize.cpython-36.pyc
fasterai/__pycache__/transforms.cpython-36.pyc
fasterai/__pycache__/training.cpython-36.pyc
fasterai/__pycache__/structured.cpython-36.pyc
fasterai/__pycache__/modules.cpython-36.pyc
fasterai/__pycache__/models.cpython-36.pyc
fasterai/__pycache__/loss.cpython-36.pyc
fasterai/__pycache__/images.cpython-36.pyc
fasterai/__pycache__/generators.cpython-36.pyc
fasterai/__pycache__/files.cpython-36.pyc
fasterai/__pycache__/dataset.cpython-36.pyc
fasterai/__pycache__/callbacks.cpython-36.pyc
fasterai/SymbolicLinks.sh
SymbolicLinks.sh
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/ComboVisualization-checkpoint.ipynb
.ipynb_checkpoints/ColorizeTraining2-checkpoint.ipynb
test_images/Uaqapqr.jpg
.ipynb_checkpoints/ColorizeTraining3-checkpoint.ipynb
.ipynb_checkpoints/ColorizeTraining4-checkpoint.ipynb
ColorizeTraining2.ipynb
ColorizeTraining3.ipynb
ColorizeTraining4.ipynb
.ipynb_checkpoints/DeOldify_colab-checkpoint.ipynb
*.pyc
herp.jpg
result_images/.ipynb_checkpoints/1864UnionSoldier-checkpoint.jpg
test.py
result_images/1850Geography.jpg
result_images/1860Girls.jpg
result_images/1860sSamauris.png
result_images/1864UnionSoldier.jpg
result_images/1867MusicianConstantinople.jpg
result_images/1870Girl.jpg
result_images/1870sSphinx.jpg
result_images/1874Mexico.png
result_images/1875Olds.jpg
result_images/1880Paris.jpg
result_images/1880sBrooklynBridge.jpg
result_images/1888Slum.jpg
result_images/1890BostonHospital.jpg
result_images/1890CliffHouseSF.jpg
result_images/1890sMedStudents.png
result_images/1890sPingPong.jpg
result_images/1890sShoeShopOhio.jpg
result_images/1890sTouristsEgypt.png
result_images/1890Surfer.png
result_images/1892WaterLillies.jpg
result_images/1895BikeMaidens.jpg
result_images/1896NewsBoyGirl.jpg
result_images/1897BlindmansBluff.jpg
result_images/1899NycBlizzard.jpg
result_images/1899SodaFountain.jpg
result_images/1900sDaytonaBeach.png
result_images/1900sSaloon.jpg
result_images/1901Electrophone.jpg
result_images/1907Cowboys.jpg
result_images/1908FamilyPhoto.jpg
result_images/1909Chicago.jpg
result_images/1909ParisFirstFemaleTaxisDriver.jpg
result_images/1910Bike.jpg
result_images/1910Racket.png
result_images/1916Sweeden.jpg
result_images/1920CobblersShopLondon.jpg
result_images/1920sDancing.jpg
result_images/1920sFamilyPhoto.jpg
result_images/1920sFarmKid.jpg
result_images/1920sGuadalope.jpg
result_images/1925Girl.jpg
result_images/1929LondonOverFleetSt.jpg
result_images/1930sGeorgia.jpg
result_images/1933RockefellerCenter.jpg
result_images/1938Reading.jpg
result_images/1940sBeerRiver.jpg
result_images/1946Wedding.jpg
result_images/1948CarsGrandma.jpg
result_images/20sWoman.jpg
result_images/40sCouple.jpg
result_images/abe.jpg
result_images/AccordianKid1900Paris.jpg
result_images/Agamemnon1919.jpg
result_images/AirmanDad.jpg
result_images/airmen1943.jpg
result_images/AnselAdamsAdobe.jpg
result_images/AnselAdamsBuildings.jpg
result_images/AnselAdamsChurch.jpg
result_images/AnselAdamsWhiteChurch.jpg
result_images/AnselAdamsYosemite.jpg
result_images/AppalachianLoggers1901.jpg
result_images/Apsaroke1908.png
result_images/ArkansasCowboys1880s.jpg
result_images/AthleticClubParis1913.jpg
result_images/AustriaHungaryWomen1890s.jpg
result_images/BabyBigBoots.jpg
result_images/Ballet1890Russia.jpg
result_images/BellyLaughWWI.jpg
result_images/bicycles.jpg
result_images/BigManTavern1908NYC.jpg
result_images/BombedLibraryLondon1940.jpg
result_images/Boston1937.jpg
result_images/BoulevardDuTemple1838.jpg
result_images/BoxedBedEarly1900s.jpg
result_images/BreadDelivery1920sIreland.jpg
result_images/BritishDispatchRider.jpg
result_images/BritishSlum.jpg
result_images/BritishTeaBombay1890s.png
result_images/brooklyn_girls_1940s.jpg
result_images/BumperCarsParis1930.jpg
result_images/CafeParis1928.jpg
result_images/CafeTerrace1925Paris.jpg
result_images/CalcuttaPoliceman1920.jpg
result_images/camera_man.jpg
result_images/Cars1890sIreland.jpg
result_images/CatWash1931.jpg
result_images/Chief.jpg
result_images/ChinaOpiumc1880.jpg
result_images/civil-war_2.jpg
result_images/civil_war.jpg
result_images/civil_war_3.jpg
result_images/civil_war_4.jpg
result_images/ClassDivide1930sBrittain.jpg
result_images/CoalDeliveryParis1915.jpg
result_images/Cork1905.jpg
result_images/CorkKids1910.jpg
result_images/CottonMill.jpg
result_images/covered-wagons-traveling.jpg
result_images/CricketLondon1930.jpg
result_images/Deadwood1860s.png
result_images/DeepSeaDiver1915.png
result_images/Depression.jpg
result_images/Dolores1920s.jpg
result_images/Donegal1907Yarn.jpg
result_images/dorothea-lange.jpg
result_images/dorothea_lange_2.jpg
result_images/DriveThroughGiantTree.jpg
result_images/dustbowl_1.jpg
result_images/dustbowl_2.jpg
result_images/dustbowl_5.jpg
result_images/dustbowl_people.jpg
result_images/dustbowl_sd.jpg
result_images/DutchBabyCoupleEllis.jpg
result_images/EastEndLondonStreetKids1901.jpg
result_images/EasterNyc1911.jpg
result_images/Eddie-Adams.jpg
result_images/Edinburgh1920s.jpg
result_images/egypt-1.jpg
result_images/egypt-2.jpg
result_images/EgyptColosus.jpg
result_images/EgyptianWomenLate1800s.jpg
result_images/einstein_beach.jpg
result_images/einstein_portrait.jpg
result_images/ElectricScooter1915.jpeg
result_images/ElephantLondon1934.png
result_images/EmpireState1930.jpg
result_images/Evelyn_Nesbit.jpg
result_images/FadedDelores.PNG
result_images/FadedDutchBabies.PNG
result_images/FadedOvermiller.PNG
result_images/FadedRacket.PNG
result_images/FadedSphynx.PNG
result_images/FarmWomen1895.jpg
result_images/FatMenClub.jpg
result_images/FatMensShop.jpg
result_images/FreeportIL.jpg
result_images/FreightTrainTeens1934.jpg
result_images/FrenchVillage1950s.jpg
result_images/GalwayIreland1902.jpg
result_images/GasPrices1939.jpg
result_images/GreatGrandparentsIrelandEarly1900s.jpg
result_images/Greece1911.jpg
result_images/GreekImmigrants1905.jpg
result_images/HalloweenEarly1900s.jpg
result_images/Harlem1932.jpg
result_images/HarrodsLondon1920.jpg
result_images/HealingTree.jpg
result_images/HelenKeller.jpg
result_images/helmut_newton-.jpg
result_images/hemmingway.jpg
result_images/Hemmingway2.jpg
result_images/HerbSeller1899Paris.jpg
result_images/HomeIreland1924.jpg
result_images/HoovervilleSeattle1932.jpg
result_images/HPLabelleOfficeMontreal.jpg
result_images/HydeParkLondon1920s.jpg
result_images/IceManLondon1919.jpg
result_images/InuitWoman1903.png
result_images/IrishLate1800s.jpg
result_images/jacksonville.jpg
result_images/Jane_Addams.jpg
result_images/JerseyShore1905.jpg
result_images/JudyGarland.jpeg
result_images/Kabuki1870s.png
result_images/KidCage1930s.png
result_images/kids_pit.jpg
result_images/Killarney1910.jpg
result_images/last_samurai.jpg
result_images/Late1800sNative.jpg
result_images/LeBonMarcheParis1875.jpg
result_images/LewisTomalinLondon1895.png
result_images/LibraryOfCongress1910.jpg
result_images/Lisbon1919.jpg
result_images/LittleAirplane1934.jpg
result_images/LivingRoom1920Sweeden.jpg
result_images/Locomotive1880s.jpg
result_images/London1850Coach.jpg
result_images/London1900EastEndBlacksmith.jpg
result_images/London1918WartimeClothesManufacture.jpg
result_images/London1930sCheetah.jpg
result_images/London1937.png
result_images/LondonFireBrigadeMember1926.jpg
result_images/LondonGarbageTruck1910.jpg
result_images/LondonHeatWave1935.png
result_images/LondonKidsEarly1900s.jpg
result_images/LondonRailwayWork1931.jpg
result_images/LondonSheep1920s.png
result_images/LondonsSmallestShop1900.jpg
result_images/LondonStreetDoctor1877.png
result_images/LondonStreets1900.jpg
result_images/LondonUnderground1860.jpg
result_images/MadisonSquare1900.jpg
result_images/MaioreWoman1895NZ.jpg
result_images/ManPile.jpg
result_images/marilyn_portrait.jpg
result_images/marilyn_woods.jpg
result_images/marktwain.jpg
result_images/MementoMori1865.jpg
result_images/MetropolitanDistrictRailway1869London.jpg
result_images/Mid1800sSisters.jpg
result_images/migrant_mother.jpg
result_images/Mormons1870s.jpg
result_images/MuffinManlLondon1910.jpg
result_images/MuseauNacionalDosCoches.jpg
result_images/NativeAmericans.jpg
result_images/NativeCouple1912.jpg
result_images/NativeWoman1926.jpg
result_images/NewspaperCivilWar1863.jpg
result_images/NewZealand1860s.jpg
result_images/NorwegianBride1920s.jpg
result_images/NYStreetClean1906.jpg
result_images/opium.jpg
result_images/OregonTrail1870s.jpg
result_images/overmiller.jpg
result_images/PaddingtonStationLondon1907.jpg
result_images/PaddysMarketCork1900s.jpg
result_images/paperboy.jpg
result_images/Paris1899StreetDig.jpg
result_images/Paris1920Cart.jpg
result_images/Paris1926.jpg
result_images/ParisLadies1910.jpg
result_images/ParisLadies1930s.jpg
result_images/ParisLate1800s.jpg
result_images/ParisWomenFurs1920s.jpg
result_images/PeddlerParis1899.jpg
result_images/PetDucks1927.jpg
result_images/PicadillyLate1800s.jpg
result_images/PiggyBackRide.jpg
result_images/pinkerton.jpg
result_images/PlanesManhattan1931.jpg
result_images/PostOfficeVermont1914.png
result_images/poverty.jpg
result_images/PuppyGify.jpg
result_images/redwood_lumberjacks.jpg
result_images/RepBrennanRadio1922.jpg
result_images/rgs.jpg
result_images/RossCorbettHouseCork.jpg
result_images/Rottindean1890s.png
result_images/royal_family.jpg
result_images/RoyalUniversityMedStudent1900Ireland.jpg
result_images/Rutherford_Hayes.jpg
result_images/Sami1880s.jpg
result_images/SanFran1851.jpg
result_images/school_kids.jpg
result_images/SchoolKidsConnemaraIreland1901.jpg
result_images/Scotland1919.jpg
result_images/SecondHandClothesLondonLate1800s.jpg
result_images/SenecaNative1908.jpg
result_images/ServantsBessboroughHouse1908Ireland.jpg
result_images/Shack.jpg
result_images/sioux.jpg
result_images/skycrapper_lunch.jpg
result_images/smoking_kid.jpg
result_images/SoapBoxRacerParis1920s.jpg
result_images/SoccerMotorcycles1923London.jpg
result_images/soldier_kids.jpg
result_images/Sphinx.jpeg
result_images/SunHelmetsLondon1933.jpg
result_images/SutroBaths1880s.jpg
result_images/SynagogueInterior.PNG
result_images/teddy_rubble.jpg
result_images/Texas1938Woman.png
result_images/TheatreGroupBombay1875.jpg
result_images/TimesSquare1955.jpg
result_images/TitanicGym.jpg
result_images/TV1930s.jpg
result_images/Unidentified1855.jpg
result_images/unnamed.jpg
result_images/VictorianDragQueen1880s.png
result_images/VictorianLivingRoom.jpg
result_images/ViennaBoys1880s.png
result_images/w-b-yeats.jpg
result_images/WalkingLibraryLondon1930.jpg
result_images/WaltWhitman.jpg
result_images/WaterfordIreland1909.jpg
result_images/WestVirginiaHouse.jpg
result_images/wh-auden.jpg
result_images/wilson-slaverevivalmeeting.jpg
result_images/women-bikers.png
result_images/WomenTapingPlanes.jpg
result_images/workers_canyon.jpg
result_images/WorldsFair1900Paris.jpg
result_images/WorriedKid1940sNyc.jpg
result_images/ww1_trench.jpg
result_images/WWIHospital.jpg
result_images/WWIIPeeps.jpg
result_images/WWISikhs.jpg
result_images/ZoologischerGarten1898.jpg
result_images/Twitter Social Icons.zip
result_images/1850SchoolForGirls.jpg
result_images/1852GatekeepersWindsor.jpg
result_images/ArmisticeDay1918.jpg
result_images/AtlanticCity1905.png
result_images/AtlanticCityBeach1905.jpg
result_images/BrooklynNavyYardHospital.jpg
result_images/CottonMillWorkers1913.jpg
result_images/DayAtSeaBelgium.jpg
result_images/Drive1905.jpg
result_images/FamilyWithDog.jpg
result_images/FinnishPeasant1867.jpg
result_images/FlyingMachinesParis1909.jpg
result_images/GreatAunt1920.jpg
result_images/HelenKeller.jpg
result_images/IronLung.png
result_images/NewBrunswick1915.jpg
result_images/OldWomanSweden1904.jpg
result_images/PushingCart-Copy1.jpg
result_images/PushingCart.jpg
result_images/Sami1880s.jpg
result_images/Scotland1919.jpg
result_images/SenecaNative1908.jpg
result_images/ShoeMakerLate1800s.jpg
result_images/SpottedBull1908.jpg
result_images/TitanicGym.jpg
result_images/TouristsGermany1904.jpg
result_images/TunisianStudents1914.jpg
result_images/Yorktown1862.jpg
result_images/TitanicGym.jpg
result_images/SenecaNative1908.jpg
result_images/Scotland1919.jpg
result_images/Sami1880s.jpg
result_images/HelenKeller.jpg
result_images/HelenKeller.jpg
result_images/Sami1880s.jpg
result_images/Scotland1919.jpg
result_images/SenecaNative1908.jpg
result_images/TitanicGym.jpg
.~ColorizeVisualization.ipynb
result_images/1886Hoop.jpg
result_images/1886ProspectPark.jpg
result_images/1890sChineseImmigrants.jpg
result_images/1897VancouverAmberlamps.jpg
result_images/1900NJThanksgiving.jpg
result_images/1900ParkDog.jpg
result_images/1900sLadiesTeaParty.jpg
result_images/1902FrenchYellowBellies.jpg
result_images/1904ChineseMan.jpg
result_images/1908RookeriesLondon.jpg
result_images/1910Finland.jpg
result_images/1910ThanksgivingMaskersII.jpg
result_images/1911ThanksgivingMaskers.jpg
result_images/1913NewYorkConstruction.jpg
result_images/1919WWIAviationOxygenMask.jpg
result_images/1923HollandTunnel.jpg
result_images/1925GypsyCampMaryland.jpg
result_images/1929VictorianCosplayLondon.jpg
result_images/1930MaineSchoolBus.jpg
result_images/1930sRooftopPoland.jpg
result_images/1934UmbriaItaly.jpg
result_images/1936OpiumShanghai.jpg
result_images/1936ParisCafe.jpg
result_images/1936PetToad.jpg
result_images/1939GypsyKids.jpg
result_images/1939SewingBike.png
result_images/1939YakimaWAGirl.jpg
result_images/1940Connecticut.jpg
result_images/1940PAFamily.jpg
result_images/1941GeorgiaFarmhouse.jpg
result_images/1941PoolTableGeorgia.jpg
result_images/1945HiroshimaChild.jpg
result_images/1950sLondonPoliceChild.jpg
result_images/1959ParisFriends.png
result_images/GoldenGateConstruction.jpg
result_images/HelenKeller.jpg
result_images/LondonFashion1911.png
result_images/PostCivilWarAncestors.jpg
result_images/Sami1880s.jpg
result_images/Scotland1919.jpg
result_images/SenecaNative1908.jpg
result_images/TitanicGym.jpg
result_images/HelenKeller.jpg
result_images/Sami1880s.jpg
result_images/Scotland1919.jpg
result_images/SenecaNative1908.jpg
result_images/TitanicGym.jpg
fasterai/fastai
.ipynb_checkpoints/ SuperResolutionVisualization-checkpoint.ipynb
.ipynb_checkpoints/SuperResolutionTraining-checkpoint.ipynb
.ipynb_checkpoints/SuperResolutionTraining2-checkpoint.ipynb
fasterai/.ipynb_checkpoints/generators-checkpoint.py
fasterai/.ipynb_checkpoints/modules-checkpoint.py
result_images/.ipynb_checkpoints/ILSVRC2012_test_00000002-checkpoint.JPEG
superres/result_images/ILSVRC2012_test_00000643.JPEG
superres/result_images/Siamese_178.jpg
superres/test_images/ILSVRC2012_test_00000642.JPEG
superres/test_images/ILSVRC2012_test_00000643.JPEG
superres/test_images/ILSVRC2012_test_00000644.JPEG
superres/test_images/ILSVRC2012_test_00000645.JPEG
superres/test_images/ILSVRC2012_test_00000646.JPEG
superres/test_images/ILSVRC2012_test_00000647.JPEG
superres/test_images/ILSVRC2012_test_00000648.JPEG
superres/test_images/ILSVRC2012_test_00000649.JPEG
superres/test_images/ILSVRC2012_test_00000650.JPEG
superres/test_images/ILSVRC2012_test_00000651.JPEG
superres/test_images/ILSVRC2012_test_00000652.JPEG
superres/test_images/ILSVRC2012_test_00000653.JPEG
superres/test_images/ILSVRC2012_test_00000654.JPEG
superres/test_images/ILSVRC2012_test_00000655.JPEG
superres/test_images/ILSVRC2012_test_00000656.JPEG
superres/test_images/ILSVRC2012_test_00000657.JPEG
superres/test_images/ILSVRC2012_test_00000658.JPEG
superres/test_images/ILSVRC2012_test_00000659.JPEG
superres/test_images/ILSVRC2012_test_00000660.JPEG
superres/test_images/ILSVRC2012_test_00000661.JPEG
superres/test_images/ILSVRC2012_test_00000662.JPEG
superres/test_images/ILSVRC2012_test_00000663.JPEG
superres/test_images/ILSVRC2012_test_00000664.JPEG
superres/test_images/ILSVRC2012_test_00000665.JPEG
superres/test_images/ILSVRC2012_test_00001067.JPEG
superres/test_images/ILSVRC2012_test_00001068.JPEG
superres/test_images/ILSVRC2012_test_00001069.JPEG
superres/test_images/ILSVRC2012_test_00001070.JPEG
superres/test_images/ILSVRC2012_test_00001071.JPEG
superres/test_images/ILSVRC2012_test_00001072.JPEG
superres/test_images/ILSVRC2012_test_00001073.JPEG
superres/test_images/ILSVRC2012_test_00001074.JPEG
superres/test_images/ILSVRC2012_test_00001075.JPEG
superres/test_images/ILSVRC2012_test_00001076.JPEG
superres/test_images/ILSVRC2012_test_00001077.JPEG
superres/test_images/ILSVRC2012_test_00001078.JPEG
superres/test_images/ILSVRC2012_test_00001079.JPEG
superres/test_images/ILSVRC2012_test_00001080.JPEG
superres/test_images/ILSVRC2012_test_00001081.JPEG
superres/test_images/ILSVRC2012_test_00001082.JPEG
superres/test_images/ILSVRC2012_test_00001083.JPEG
superres/test_images/ILSVRC2012_test_00002343.JPEG
superres/test_images/ILSVRC2012_test_00002344.JPEG
superres/test_images/ILSVRC2012_test_00002345.JPEG
superres/test_images/ILSVRC2012_test_00002346.JPEG
superres/test_images/ILSVRC2012_test_00002347.JPEG
superres/test_images/ILSVRC2012_test_00002348.JPEG
superres/test_images/ILSVRC2012_test_00002349.JPEG
superres/test_images/scottish_terrier_159.jpg
superres/test_images/scottish_terrier_161.jpg
superres/test_images/scottish_terrier_162.jpg
superres/test_images/shiba_inu_137.jpg
superres/test_images/shiba_inu_139.jpg
superres/test_images/Siamese_178.jpg
superres/test_images/Siamese_182.jpg
superres2x34_gen_pretrain.h5
superres2x_gen_pretrain.h5
superres_crit_pretrain.h5
superres_gen_pretrain.h5
test_images/Andy.jpg
*.prof
fastai
*.pth
