data
deoldify/__pycache__/*.pyc
*SymbolicLinks.sh
*.ipynb_checkpoints*
ColorizeTraining*[0-9]*.ipynb
*Colorizer[0-9]*.ipynb
lesson7-superres*.ipynb
*.pyc
test.py
result_images/*.jpg
result_images/*.jpeg
result_images/*.png

deoldify/fastai

*.prof
fastai
*.pth
video
test_images/James1.jpg
test_images/James2.jpg
test_images/James3.jpg
test_images/James4.jpg
test_images/James5.jpg
test_images/James6.jpg
test_images/image.png
test_images/image.jpg
deoldify/.ipynb_checkpoints/*-checkpoint.py
tmp*
