
.ipynb_checkpoints/ColorizeTraining-checkpoint.ipynb
.ipynb_checkpoints/ColorizeVisualization-checkpoint.ipynb
.ipynb_checkpoints/DeFadeTraining-checkpoint.ipynb
.ipynb_checkpoints/DeFadeVisualization-checkpoint.ipynb
.ipynb_checkpoints/FinalVisualization-checkpoint.ipynb
data
fastai
fasterai/.ipynb_checkpoints/images-checkpoint.py
fasterai/.ipynb_checkpoints/loss-checkpoint.py
fasterai/.ipynb_checkpoints/transforms-checkpoint.py
fasterai/.ipynb_checkpoints/visualize-checkpoint.py
fasterai/__pycache__/wgan.cpython-36.pyc
fasterai/__pycache__/visualize.cpython-36.pyc
fasterai/__pycache__/transforms.cpython-36.pyc
fasterai/__pycache__/training.cpython-36.pyc
fasterai/__pycache__/structured.cpython-36.pyc
fasterai/__pycache__/modules.cpython-36.pyc
fasterai/__pycache__/models.cpython-36.pyc
fasterai/__pycache__/loss.cpython-36.pyc
fasterai/__pycache__/images.cpython-36.pyc
fasterai/__pycache__/generators.cpython-36.pyc
fasterai/__pycache__/files.cpython-36.pyc
fasterai/__pycache__/dataset.cpython-36.pyc
fasterai/__pycache__/callbacks.cpython-36.pyc
fasterai/SymbolicLinks.sh
SymbolicLinks.sh
.ipynb_checkpoints/README-checkpoint.md
